body {
    background-image: url(../images/image.jpg);
    background-repeat: repeat;
    background-size: contain;
}
main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    }
.container {
    max-width: 700px;
    width: 100%;
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

#conteneur-questions textarea {
    resize:none;
    width: 660px;
    font-size: 16px;
}

.container .title {
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

.container .title::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    border-radius: 5px;
    background: linear-gradient(135deg, #1ECECC, #29BABB);
}

.content form .conteneur-questions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

.content {
    height: 400px;
}

.input-box {
    margin-top: 10px;
}

form .input-box span.details {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.conteneur-questions .input-box input {
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.conteneur-questions .input-box input:focus {
    border-color: #172A3A;
}

form .niveau-details .niveau-title {
    font-size: 20px;
    font-weight: 500;
}

form .category {
    display: flex;
    width: 80%;
    margin: 14px 0;
    justify-content: space-between;
}

form .category label {
    display: flex;
    align-items: center;
    cursor: pointer;
}



form input[type="radio"] {
    display: none;
}

form .button {
    height: 45px;
    margin: 35px 0;
}

form .button input {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: linear-gradient(135deg, #1ECECC, #29BABB);
}

form .button input:hover {
    /* transform: scale(0.99); */
    background: linear-gradient(-135deg, #1ECECC, #29BABB);
}

@media(max-width: 584px) {
    .container {
        max-width: 100%;
    }

    form .conteneur-questions .input-box {
        margin-bottom: 15px;
        width: 100%;
    }

    form .category {
        width: 100%;
    }

    .content form .conteneur-questions {
        max-height: 300px;
        overflow-y: scroll;
    }

    .conteneur-questions::-webkit-scrollbar {
        width: 5px;
    }
}

@media(max-width: 459px) {
    .container .content .category {
        flex-direction: column;
    }
}

.erreur{
    border: 2px solid red !important;
    color: red;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 5px;
}
.erreurRadio{
    color: red;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 5px;
}
