body {
    background-image: url(../images/image.jpg);
    background-repeat: repeat;
    background-size: cover;
}

.divEleve {
    margin-top: 400px;
  }

  .tableEleve {
    margin-top: 0px;
    border-collapse: collapse;
    width: 100%;
    font-size: 13px;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
}

.tableEleve th, .tableEleve td {
    border: 1px solid #ddd;
    padding: 10px;
    color: wheat;
}

.tableEleve td {
    background-color:grey;
}

.tableEleve tr:nth-child(even) {
    background-color:grey;
}

.buttonTd {
    text-align: center;
}

.buttonSupp {
    border-radius: 20px;
    padding: 10px 20px;
    background-color: #f70404;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  