.menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 10vh;

}

.menu li {
    list-style-type: none;
}

.menu a {
    min-width: 120px;
    margin: 0.5rem;
    padding: 0.4rem 0;
    text-align: center;
    text-decoration: none;
    font-weight: bold; /* Mettre en gras */
    font-size: 20px; /* Taille de la police */
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: bisque;
}

.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;    
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: bisque;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.droite {
    display: flex;
    justify-content: flex-end;

}

.logo {
    width: 100px;
    height: auto;
}

#navbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 10000;
    width: 100%;
}

@media screen and (max-width: 878px) {
    #navbar {
        height: 250px;
        /* Hauteur souhaitée pour les appareils plus petits */
    }
}

@media screen and (max-width: 400px) {
    #navbar {
        height: 350px;
        /* Hauteur souhaitée pour les appareils plus petits */
    }
    
}

body{
    margin-top: 14vh; /* Ajustez la valeur selon la hauteur de votre navbar */
}

