body {
    background-image: url(../images/image.jpg);
    background-repeat: repeat;
    background-size: cover;
}




.body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    }
.container {
    max-width: 700px;
    width: 100%;
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.container .title {
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

.container .title::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    border-radius: 5px;
    background: linear-gradient(135deg, #1ECECC, #29BABB);
}

.content form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

.user-details .input-box input {
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid {
    border-color: #172A3A;
}

@media(max-width: 584px) {
    .container {
        max-width: 100%;
    }

    form .user-details .input-box {
        margin-bottom: 15px;
        width: 100%;
    }

    form .category {
        width: 100%;
    }

    .content form .user-details {
        max-height: 300px;
        overflow-y: scroll;
    }

    .user-details::-webkit-scrollbar {
        width: 5px;
    }
}

@media(max-width: 459px) {
    .container .content .category {
        flex-direction: column;
    }
}
.container2{
    max-width: 80%;
    width: 100%;
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    margin-bottom: 5em;
}
.graph-container {
    white-space: nowrap; /* Permet d'empêcher le retour à la ligne des éléments */  }
  
  .graph {
    display: inline-block; /* Affiche les éléments côte à côte */
    width: 50%; /* Ajustez la largeur selon vos besoins */
  }

  .titre {
    margin-top: 1.6em;
    text-align: center;
    font-size: 100px;
    color: bisque;

}

.graph-container {
    display: flex; /* Utilisez Flexbox pour la mise en page */
    flex-wrap: wrap; /* Permet le retour à la ligne des conteneurs */
  }
  
  .graph-pair {
    display: flex; /* Affiche les paires de graphiques en ligne */
    flex-basis: 50%; /* Chaque paire occupe 50% de la largeur de la ligne */
    justify-content: center;
  }
  
  .graph {
    flex-basis: 50%; /* Chaque graphique occupe 50% de la largeur de la paire */
  }
#diagBarre,
#diagramme{
    width: 150% !important;
    height: auto !important;
}


.table th,
.table td {
    border: 1px solid #172A3A;
    padding: 10px;
    color: wheat;
}

.table td {
    background-color: #824C71;
}

.table tr:nth-child(even) {
    background-color: #824C71;
}
.table {
    margin-top: 1em;
    width: 100%;
    font-size: 14px;
    background-color: #172A3A;
    border-collapse: separate;
    border-radius: 20px;
    overflow: hidden;
    border-spacing: 0;
    text-align: center;
    border: 5px solid #172A3A;
    margin-bottom: 2em;

}
